fastapi==0.115.7
langchain==0.3.15
langchain_community==0.3.15
langchain_core==0.3.31
langchain_groq==0.2.3
langchain_huggingface==0.1.2
psycopg2==2.9.10
python-dotenv==1.0.1
uvicorn==0.15.0
python-dotenv
faiss-cpu
